<!DOCTYPE html>
<html>
    <head>
        <title>Verification Email</title>
    </head>
    <body>
        <p>Dear Customer,</p>
        <p>Please click on the given link to activate your supagrab newsletter subscription.</p>
        <p>
            <a href="<%-basePath-%>newsletter/verify/<%-encrypted_string-%>">
                <%-basePath-%>newsletter/verify/<%-encrypted_string-%>
            </a>
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Thanks and Regards,</p>
        <p>Supagrab</p>
    </body>
</html>